td textarea {
	width: 450px;
	height: 225px;
}
.wp_list_table label{
	color:#1e8cbe;
}
.wrap h2{
	color: #a23435;
	font-weight: bold;
	font-size: 30px;
}
.widefat tbody th.check-column, .widefat tfoot th.check-column, .widefat thead th.check-column {
    padding: 8px 10px !important;
}
.form-table input[type='text'], .form-table select {
	width: 450px !important;
}
.my-shortcode {
	border: 1px solid #0091cd;
    border-radius: 5px;
    color: #0091cd;
	padding: 10px !important;
}